.Projects {
  text-align: center;
}

.Projects > div > h1 {
  font-weight: bold;
  margin-bottom: 30px;
}

.Projects-Flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Projects-Image-Flex {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 2s;
  color: white;
}

.Projects-Image-Flex.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* Set project gallery tile images */

.Projects-Image.Image-One {
  background-image: url("/Project-1.png");
  background-size: 100%;
  width: 450px;
  height: 245px;
  margin: 10px;
  transition-property: all;
  transition-duration: 300ms;
}

.Projects-Image.Image-Two {
  background-image: url("/Project-2.png");
  background-size: 100%;
  width: 450px;
  height: 245px;
  margin: 10px;
  transition-property: all;

  transition-duration: 300ms;
}

.Projects-Image.Image-Three {
  background-image: url("/Project-3.png");
  background-size: 100%;
  width: 450px;
  height: 245px;
  margin: 10px;
  transition-property: all;
  transition-duration: 300ms;
}

/* Set project image text contents to be invisible until hovered over */

.Projects-Image-Contents.Image-One {
  font-weight: bold;
  margin-top: 50px;
  opacity: 0;
}
.Projects-Image-Contents.Image-Two {
  font-weight: bold;
  margin-top: 50px;
  opacity: 0;
}
.Projects-Image-Contents.Image-Three {
  font-weight: bold;
  margin-top: 50px;
  opacity: 0;
}

/* Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image: url("/Project-3-Detail.jpg");
  background-size: cover;
}
/* Modal Content/Box */
.modal-content {
  justify-content: center;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  border: 0px;
  width: 100%;
}

.Modal-Flex-Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.Modal-Flex-Row.Arrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.Modal-Flex-Column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  margin-right: 20px;
  margin-left: 20px;
}

/* The Close Button */
.close {
  color: white;
}

.Close-Arrow {
  width: 60px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.modal-image {
  width: 700px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.Project-Title {
  margin-top: 20px;
  font-weight: bold;
}
